<!-- admin layout -->
<!DOCTYPE html>

<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <th:block th:replace="fragments/comImportFiles::importFragment"></th:block>
    <th:block th:replace="fragments/admin/importFiles::importFragment"></th:block>
</head>

<header th:replace="fragments/admin/header::headerFragment"></header>
<body layout:fragment="content"></body>
<footer th:replace="fragments/admin/footer::footerFragment"></footer>

</html>