<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- favicon.ico 404 error 막기 (임시방편) -->
    <link rel="shortcut icon" href="#">
    <title>My test</title>
</head>

<header th:fragment="headerFragment" class="header">
    <div class="admin-header-container">
        <div class="admin-header">
            <div class="logo-area left">
                logo
            </div>
            <div class="right">
                home / logout
            </div>
        </div>
    </div>
</header>
</html>